<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795154909395-i1bo2ml4k4moejtkrq0qvj8v9vgbppm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795154909395-i1bo2ml4k4moejtkrq0qvj8v9vgbppm5</string>
	<key>API_KEY</key>
	<string>AIzaSyBptJoYj-zn75ccuiccvM1xfCmAsljsyyo</string>
	<key>GCM_SENDER_ID</key>
	<string>795154909395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krishnachaitanya.FreeMessenger</string>
	<key>PROJECT_ID</key>
	<string>freemessenger-36dde</string>
	<key>STORAGE_BUCKET</key>
	<string>freemessenger-36dde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795154909395:ios:9b7978a3b07596e0b8ec26</string>
	<key>DATABASE_URL</key>
	<string>https://freemessenger-36dde-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>